<p id="notice"><%= notice %></p>

<h1>Calendário de Vacinação</h1>
Criança: 4 anos.
<div class="table-responsive-md">
  <table class="table table-striped table-bordered table-hover mt-4 shadow-sm">
    <thead class="thead-light">
      <tr>
        <th>Descricao</th>
        <th>Doses tomadas</th>
        <th>Situação</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recomendacao_vacinas.each do |recomendacao_vacina| %>
        <tr>
          <td><%= recomendacao_vacina.vacina.descricao %></td>
          <td><%= "#{current_user.qtde_doses_por_vacina(recomendacao_vacina.vacina)} #{exibe_quando_pode_tomar_proxima_dose(recomendacao_vacina)}" %></td>
          <td><%= recomendacao_vacina.status_vacinal %></td>
          <td><%= link_to 'Cadastrar dose', new_vacina_dose_path(recomendacao_vacina.vacina) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Criar Vacina', new_vacina_path %>
<br>
<br>

<hr>

<br>
<br>
<br>
<br>
